
<nav class="navbar navbar-expand-lg bg-light"
ngClass="{{ flag  ? 'navbar-dark bg-dark' : 'navbar-light bg-light'}}"
>
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Super Heroes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acerca">About</a>
          </li>
        </ul>
        <div class="form-check form-switch">
          <input (click)=" changeTheme() "
          class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">{{flag? 'White':'Black'}} Theme</label>
        </div>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <span></span>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>